.Content {
}

.Tiles {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 33% 33% 33%;
}

.Tile {
}

Img {
    max-width: 90%;
    max-height: 90%;
}

.content-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
