.Tabs {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: teal;
    width: 100%;
}

/*
.Tabs {
    margin: auto;
    width: 50%;
    padding: 5px;
    text-align: center;
}
*/
