#div-root {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#div-left {
    display: flex;
    flex: 0 0 3%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#div-right {
    display: flex;
    flex: 0 0 97%;
    flex-direction: column;
    text-align: center;
    justify-content: right;
}
