.div-root {
    display: flex;
    height: 99vh;
    width: 99vw;
}

.div-left {
    border: 2px solid orange;
    display: flex;
    flex: 0 0 5%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.div-right {
    border: 2px solid orange;
    display: flex;
    flex: 0 0 95%;
    flex-direction: column;
    text-align: center;
    justify-content: right;
}
